<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listar Chaves</title>
</head>
<body>
<h1>Lista de chaves </h1>
<u>
    {% for chave in chaves %} 
    <li>{{ chave.nome }}</li>
    {% empty %} 
    <li>Não existe nenhuma chave ainda!</li>
    {% endfor %}
</u>
<form action="{% url 'salvar' %}" method="post">
    {% csrf_token %}
    <input type="text" name="nome">
    <button type="submit">Enviar</button>
</form>

{% if mensagem_erro %}
    <p class="text-danger">{{ mensagem_erro }}</p>
{% endif %}

</body>
</html>