{% extends 'base.html' %} {% block title %}Criar chave | Chaveiro do Chaves{%endblock %} 

{%block content%}

<div class="container">
    <div class="forms">
        <h1>{%block heading%}Criar uma nova chave{%endblock%}</h1>
        <form action="{% url 'createKey' %}" method="post">
            {% csrf_token %}
            <h3>Nome:</h3>
            <input type="text" name="nome">
            <button type="submit">Criar!</button>
        </form>
    </div>
    
    <div class="errorMsg">
        {% if mensagem_erro %}
            <p class="text-danger">{{ mensagem_erro }}</p>
        {% endif %}
        
        {% if mensagem_sucesso %}
            <p class="text-success">{{ mensagem_sucesso }}</p>
        {% endif %}
    </div>

    <div class="backButton">
        <a href="{% url 'menu' %}">Voltar para o Menu</a>
    </div>
</div>
{%endblock%}
