{% extends 'base.html' %} {% block title %}Buscar todas as chaves | Chaveiro do Chaves{%endblock %} 

{%block content%}

<div class="container">
    <div class="listKeys">
        <h1>{%block heading%}Listar todas as chaves{%endblock%}</h1>
        <u>
            {% for chave in chaves %} 

            {% if chave.status == 1%}
            <li>{{ chave.nome }}</li>
            {%endif %}
            {% empty %} 
            <li>Não existe nenhuma chave ainda!</li>
            {% endfor %}
        </u>
    </div>
{%endblock%}

 
